.login-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  width: 500px;
  padding: 0px 40px;

  top: 0;
  position: absolute;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }
}

.login-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header img {
  margin-right: 10px;
}
.login__form__control, .login__form__check {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login__form__check {
  flex-direction: row;
}

input[type="email"], input[type="password"] {
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
}

.login__submit__button {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  justify-content: center;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.login__submit__button:active {
  background-color: #006AE8;
}

.login__submit__button:hover {
  background-color: #1C84FF;
}

.error-message {
  color: red;
  text-transform: capitalize;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
